.welcomeText{
    margin: 50px 0 40px;
}

.AllFilms{
    text-decoration: none;
    font-size: 30px;
    margin: 20px;
    color: white;
    background-color: rgb(34, 34, 34);
    padding: 10px 50px;
    border-radius: 10px;
}
.filmWithGanres{
    margin-top: 60px;
}

.filmGanres{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
    padding: 0 30px;
}

.linkGenres{
    text-decoration: none;
    color: black;
}

.linkGenres:hover{
    text-decoration: underline;
}